@use 'sass:color';

/* color palette by: https://www.colourpod.com/post/762697107631226880/might-as-well-be-submitted-by-seesawsiya */

$color-primary: #a1cea7;
$color-text-light: #ddd1c3;
$color-text-dark: color.invert($color-text-light, $space:rgb);
$color-bg-light: #6f4f38;
$color-bg-dark: #382b23;

$color-fx-ligher: #FFDF9416;
$color-fx-darker: #07081e1e;

body {
  background-color: $color-bg-dark;
  color: $color-text-light;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 1680px;
}
